<?xml version="1.0" encoding="utf-8"?>
<!-- xbBooks config.xml v0.10.0.2 26th November 2022 -->
<config>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBCULTURE_GENERAL"
		description="XBCULTURE_CONFIG_GENERAL_DESC"		
	>
  		<field name="savedata" type="radio"
			label="XBCULTURE_CONFIG_DEL_UNINST_LABEL"
			description="XBCULTURE_CONFIG_DEL_UNINST_DESC"
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>			
  		<field name="showcatsnote" type="note"
			label="XBCULTURE_CONFIG_SHOWCATS_NOTE_LABEL"
			description="XBCULTURE_CONFIG_SHOWCATS_NOTE_DESC"
			class="info"
		/>	
		<field name="show_cats" type="radio"
 			default="1"
			label="XBCULTURE_CONFIG_SHOWCATS_LABEL"
			description="XBCULTURE_CONFIG_SHOWCATS_DESC"
			class="btn-group btn-group-yesno"
			>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
		<field name="show_tags" type="radio"
 			default="1"
			label="XBCULTURE_CONFIG_SHOWTAGS_LABEL"
			description="XBCULTURE_CONFIG_SHOWTAGS_DESC"
			class="btn-group btn-group-yesno"
			>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
  		<field name="xbsampplenote" type="note"
			label="XBCULTURE_CONFIG_SAMPDATA_LABEL"
			description="XBCULTURE_CONFIG_SAMPDATA_DESC"
			class="info"
		/>	
 		<field name="show_sample" type="radio"
			label="XBCULTURE_CONFIG_SHOWSAMPLE_LBL"
			description="XBCULTURE_CONFIG_SHOWSAMPLE_DESC"
			class="btn-group btn-group-yesno"
 			default="1"
			>
			<option value="1">JYES</option>
			<option value="0" >JNO</option>
		</field>	
 		<field name="pathnote" type="note"
			label="XBCULTURE_CONFIG_IMGPATHS_NOTE_LABEL"
			description="XBCULTURE_CONFIG_IMGPATHS_NOTE_DESC"
			class="info"
		/>	
 		<field name="cover_path" type="folderlist" 
			default="images/xbbooks" directory="images" 
	        label="XBBOOKS_CONFIG_COVER_LABEL" 
	        description="XBBOOKS_CONFIG_COVER_DESC" 
	        recursive="true" hide_none="true" 
        />
		<field name="portrait_path" type="folderlist"
			label="XBCULTURE_CONFIG_PORTRAIT_LABEL" 
			description="XBCULTURE_CONFIG_PORTRAIT_DESC" 
			directory="images" default="images/xbpeople"
	        recursive="true" hide_none="true" 
		/>
   		<field name="extlinknote" type="note"
			label="XBCULTURE_CONFIG_EXTLINK_NOTE"
			class="info"
		/>	
		<field name="extlink_target" type="radio"
			default="1"
			label="XBCULTURE_CONFIG_EXTLINK_LABEL"
			description="XBCULTURE_CONFIG_EXTLINK_DESC"
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >XBCULTURE_CONFIG_SAME_TAB</option>
			<option value="1">XBCULTURE_CONFIG_NEW_TAB</option>
		</field>	
   		<field name="beernote" type="note"
			label="XBCULTURE_CONFIG_BUY_A_BEER_LABEL"
			description="XBCULTURE_CONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
		
	</fieldset>

<!-- ITEMS DEFAULTS TAB -->				
	<fieldset name="itemdefaults"  addfieldpath="administrator/components/com_xbpeople/models/fields"
		label="XBCULTURE_CONFIG_ITEMS_NOTE_LABEL" 
		description="XBCULTURE_CONFIG_ITEMS_NOTE_DESC"
	>	
		<field name="nocatnote" type="note"
			description="Categories are disabled for Site views on the General tab above. The Category settings below will only apply for Admin views"
			showon="show_cats:0" class="warning"
		/>
		<field name="notagnote" type="note"
			description="Tags are disabled for Site views on the General tab above. The Tag settings below will only apply for Admin views"
			showon="show_tags:0" class="warning"
		/>


 		<field name="booksnote" type="note"
			label="XBBOOKS_CONFIG_BOOK_SETTINGS"
		/>	
 		<field name="show_fict" type="radio"
			label="XBBOOKS_CONFIG_SHOW_FICT_LABEL"
			description="XBBOOKS_CONFIG_SHOW_FICT_DESC"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
 		<field name="show_bcat" type="radio"
			label="XBCULTURE_CONFIG_SHOW_BCAT_LABEL"
			description="XBCULTURE_CONFIG_SHOW_CATS_DESC"
			class="btn-group btn-group-yesno"
			showon="show_cats!:0"
			default="2"
			>
			<option value="0" >JHIDE</option>
			<option value="1">XBCULTURE_CONFIG_YES_NO_LINK</option>
			<option value="2">XBCULTURE_CONFIG_YES_LINKED</option>
		</field>	
		<field name="rootcat_book" type="category"
			extension="com_xbbooks"
			label="XBCULTURE_CONFIG_CAT_BROOT_LABEL"
			description="XBCULTURE_CONFIG_CAT_ROOT_DESC"
			default=""
			onchange="Joomla.submitbutton('config.save.component.apply');"			
		>
			<option value="">XBCULTURE_CONFIG_CAT_UNSPEC</option>
		</field>
		<field
			name="def_new_bookcat" type="xbcats"
			label="XBCULTURE_CONFIG_CAT_DEF_LABEL"
			description="XBCULTURE_CONFIG_CAT_DEF_DESC"
			extension="com_xbbooks"
			parent="com_xbbooks.rootcat_book"
			incparent="true"
			>			
			<option value="" >XBCULTURE_CONFIG_CAT_UNCAT</option>
		</field>
 		<field name="show_btags" type="radio"
			label="XBCULTURE_CONFIG_SHOW_BTAGS_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="taggrpsnote" type="note"
			label="Book Tag Groups"
			description="XBCULTURE_CONFIG_TAGGROUPNOTE_DESC"
		/>	
		
 		<field name="enable_taggroups" type="radio"
			label="Organise tags in groups"
			description="This will allow you to define up to four tag groups, each with a sparate parent tag."
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="0"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="taggroup1_parent" type="tag"
			mode="nested" published="1"
			label="XBCULTURE_CONFIG_TAGGROUP1_PARENT" description="XBCULTURE_CONFIG_TAGGROUP_DESC"
			multiple="false"
			showon="show_tags:1[AND]enable_taggroups:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
		<field name="taggroup2_parent" type="tag"
			mode="nested" published="1"
			label="XBCULTURE_CONFIG_TAGGROUP2_PARENT" description="XBCULTURE_CONFIG_TAGGROUP_DESC"
			multiple="false"
			showon="show_tags:1[AND]enable_taggroups:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
		<field name="taggroup3_parent" type="tag"
			mode="nested" published="1"
			label="XBCULTURE_CONFIG_TAGGROUP3_PARENT" description="XBCULTURE_CONFIG_TAGGROUP_DESC"
			multiple="false"
			showon="show_tags:1[AND]enable_taggroups:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
		<field name="taggroup4_parent" type="tag"
			mode="nested" published="1"
			label="XBCULTURE_CONFIG_TAGGROUP4_PARENT" description="XBCULTURE_CONFIG_TAGGROUP_DESC"
			multiple="false"
			showon="show_tags:1[AND]enable_taggroups:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
		
		<field name="bdatespsnote" type="note"
			label="Book Dates"
			description="A book can have first and last read dates. These are separate to the review dates, but can be updated by a new review. If both dates are not set the film is deemed not to have been seen (yet!)"
		/>			
 		<field name="show_bdates" type="radio"
			label="Show Book Dates"
			description="A book has an acquistion date (when it was entered in the catalogue) and a last read date. For some sites you might not wish to use these fields on the front-end. If you want to use acquisition date, but not read date then simple leave the read dates blank. When sorting by date the latest of both dates are used. NB this does not affect publication year which is a property of the book itself."
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		
 		<field name="revsnote" type="note"
			label="XBCULTURE_CONFIG_REVIEWS_SETTINGS"
		/>	
		 <field name="show_revs" type="radio"
			label="XBCULTURE_CONFIG_SHOW_REVIEWS_LABEL"
			description="XBCULTURE_CONFIG_SHOW_REVIEWS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
		
 		<field name="show_rcat" type="radio"
			label="XBCULTURE_CONFIG_SHOW_RCAT_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_revs!:0"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">XBCULTURE_CONFIG_YES_NO_LINK</option>
			<option value="2">XBCULTURE_CONFIG_YES_LINKED</option>
		</field>	
 		<field name="rootcat_review" type="category"
			extension="com_xbbooks"
			label="XBCULTURE_CONFIG_RCAT_INCROOT_LABEL"
			description="XBCULTURE_CONFIG_ROOTCAT_DESC"
			default="" 
			onchange="Joomla.submitbutton('config.save.component.apply');"
			showon="show_revs!:0"
		>
			<option value="">XBCULTURE_CONFIG_CAT_UNSPEC</option>
		</field>
		<field
			name="def_new_revcat" type="xbcats"
			label="XBCULTURE_CONFIG_NEW_REV_CAT_LABEL"
			extension="com_xbbooks"
			parent="com_xbbooks.rootcat_review"
			incParent="true"
			description="XBCULTURE_CONFIG_DEFAULT_CAT_DESC"
			showon="show_revs!:0[AND]rootcat_review!:"
			>			
			<option value="" >XBCULTURE_CONFIG_UNCAT</option>
		</field>
		
 		<field name="rev_auth" type="radio"
			default="0"
			label="XBCULTURE_CONFIG_REVIEWER_NAME_LABEL"
			description="XBCULTURE_CONFIG_REVIEWER_NAME_DESC"
 			class="btn-group btn-group-yesno"
			showon="show_revs!:0"
			>
				<option value="0" >no name</option>
				<option value="1">Name</option>
				<option value="2">Username</option>
		</field>	
 		<field name="show_rtags" type="radio"
			label="XBCULTURE_CONFIG_SHOW_RTAG_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_revs!:0"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="revtaggroup_parent" type="tag" 
			mode="nested" published="1"
			label="Review tag group" description="Show additional tag selector on review edit form which is limited to children of the tag specified here. Other tags can still be selected in the standard tags field."
			multiple="false"
			showon="show_revs:1[AND]show_rtags:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
				
  		<field name="starsnote" type="note"
			label="XBCULTURE_CONFIG_STARS_NOTE"
			description="XBCULTURE_CONFIG_STARS_NOTE_DESC"
			class="info"
			showon="show_revs!:0"
		/>		
		<field name="zero_rating" type="radio" default="1"
	        label="XBCULTURE_CONFIG_ZERO_LABEL"
	        description="XBCULTURE_CONFIG_ZERO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_revs!:0"
	    	>
	        	<option value="0">JNO</option>
	        	<option value="1">JYES</option>
		</field>
		<field name="zero_class" type="text"
			label="XBCULTURE_CONFIG_ZERO_CLASS_LABEL" 
			description="XBCULTURE_CONFIG_ZERO_CLASS_DESC" 
			default="fas fa-thumbs-down xbred"
			showon="show_revs!:0[AND]zero_rating:1"
		/>
		<field name="star_class" type="text"
			label="XBCULTURE_CONFIG_STAR_CLASS_LABEL" 
			description="XBCULTURE_CONFIG_STAR_CLASS_DESC" 
			default="fa fa-star xbgold"
			showon="show_revs!:0"
		/>
		<field name="halfstar_class" type="text"
			label="XBCULTURE_CONFIG_HALFSTAR_CLASS_LABEL" 
			description="XBCULTURE_CONFIG_HALFSTAR_CLASS_DESC"
			default="fa fa-star-half xbgold"
			showon="show_revs!:0"
		/>
 		<field name="peepcahrnote" type="note"
			label="XBCULTURE_CONFIG_PEEPCHAR_NOTE_LABEL"
			description="XBCULTURE_CONFIG_PEEPCHAR_NOTE_DESC"
			class="info"
		/>
		<!-- 
 		<field name="peepnote" type="note"
			label="XBCULTURE_CONFIG_PEOPLE_SETTINGS"
			description="For Category defaults for People see xbPeople Options"
		/>	
 		<field name="show_pcat" type="radio"
			label="XBCULTURE_CONFIG_SHOW_PCAT_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_cats!:0"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">XBCULTURE_CONFIG_YES_NO_LINK</option>
			<option value="2">XBCULTURE_CONFIG_YES_LINKED</option>
		</field>	
   		<field name="people_sort" type="radio"
			default="0"
			label="XBCULTURE_CONFIG_NAME_ORDER_LABEL"
			description="XBCULTURE_CONFIG_NAME_ORDER_DESC"
 			class="btn-group btn-group-yesno"
			>
				<option value="0" >First Last</option>
				<option value="1">Last, First</option>
		</field>			
		<field name="rootcat_person" type="category"
			extension="com_xbpeople"
			label="XBCULTURE_CONFIG_PCAT_INCROOT_LABEL"
			description="XBCULTURE_CONFIG_ROOTCAT_DESC"
			default=""
			showon="show_cats!:0[AND]show_pcat!:0"
		>
			<option value="">JOPTION_SELECT_CATEGORY</option>
		</field>
		<field name="incroot_person" type="radio"
			label="XBCULTURE_CONFIG_INCROOT_LABEL"
			description="XBCULTURE_CONFIG_INCROOT_DESC"
			class="btn-group btn-group-yesno"
			showon="show_cats!:0[AND]show_pcat!:0[AND]rootcat_person!:"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="def_new_percat" type="category"
			label="XBCULTURE_CONFIG_NEW_PERSON_CAT_LABEL"
			extension="com_xbpeople"
			description="XBCULTURE_CONFIG_DEFAULT_CAT_DESC"
			showon="show_cats!:0[AND]show_pcat!:0"
			>			
			<option value="" >XBCULTURE_CONFIG_SELECT_DEFAULT_NEW</option>
		</field>
 		<field name="show_ptags" type="radio"
			label="XBCULTURE_CONFIG_SHOW_PTAG_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="peeptaggroup_parent" type="tag" 
			mode="nested" published="1"
			label="People tag group" description="Show additional tag selector on review edit form which is limited to children of the tag specified here. Other tags can still be selected in the standard tags field."
			multiple="false"
			showon="show_tags:1[AND]show_ptags:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
				
  		<field name="charsnote" type="note"
			label="XBCULTURE_CONFIG_CHAR_SETTINGS"
			description="For Category defaults for Characters see xbPeople Options"
		/>	
 		<field name="show_ccat" type="radio"
			label="XBCULTURE_CONFIG_SHOW_CCAT_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_cats!:0"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">XBCULTURE_CONFIG_YES_NO_LINK</option>
			<option value="2">XBCULTURE_CONFIG_YES_LINKED</option>
		</field>	
		<field name="rootcat_char" type="category"
			extension="com_xbpeople"
			label="XBCULTURE_CONFIG_CCAT_INCROOT_LABEL"
			description="XBCULTURE_CONFIG_ROOTCAT_DESC"
			default=""
			showon="show_cats!:0[AND]show_ccat!:0"
		>
			<option value="">JOPTION_SELECT_CATEGORY</option>
		</field>
		<field name="incroot_char" type="radio"
			label="XBCULTURE_CONFIG_CCAT_INCROOT_LABEL"
			description="XBCULTURE_CONFIG_INCROOT_DESC"
			class="btn-group btn-group-yesno"
			showon="show_cats!:0[AND]rootcat_char!:"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="def_new_charcat" type="category"
			label="XBCULTURE_CONFIG_NEW_CHAR_CAT_LABEL"
			extension="com_xbpeople"
			description="XBCULTURE_CONFIG_DEFAULT_CAT_DESC"
			showon="show_cats!:0[AND]show_ccat!:"
			>			
			<option value="" >XBCULTURE_CONFIG_SELECT_DEFAULT_NEW</option>
		</field>
		<field name="show_ctags" type="radio"
			label="XBCULTURE_CONFIG_SHOW_CTAG_LABEL"
			description="XBCULTURE_CONFIG_CATTAG_NO_DESC"
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="chartaggroup_parent" type="tag" 
			mode="nested" published="1"
			label="Character tag group" description="Show additional tag selector on edit form which is limited to children of the tag specified here. Other tags can still be selected in the standard tags field."
			multiple="false"
			showon="show_tags:1[AND]show_ctags:1"
			default=""
		>
			<option value="">- not used -</option>
		</field>
 		 -->
		
	</fieldset>

<!-- LIST LAYOUTS TAB -->				
	<fieldset name="list" 
		label="JGLOBAL_LIST_LAYOUT_OPTIONS" 
		description="Options for front-end list and blog views. Most of these global options can be overridden by specific menu settings."
		>		
 		<field name="listnote" type="note"
			label="XBBOOKS_LIST_SHOW_SEARCH_LBL"
			description="XBBOOKS_LIST_SHOW_SEARCH_DESC"
			class="info"
		/>	
		
 		<field name="search_bar" type="radio"
			label="XBBOOKS_SHOWSEARCH_LBL"
			description="XBBOOKS_SHOWSEARCH_DESC"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
		     
  		<field name="booklistnote" type="note"
			label="Book List Specific Options"
			class="info"
		/>	
		<field name="show_bpiccol" type="radio"
			label="Cover Column"
			description="Show book cover column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	 
 		<field name="show_bsumcol" type="radio"
			label="Summary Column"
			description="Show summary column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
 		<field name="show_brevcol" type="list"
			label="Rating &amp; Review Column"
			description="Show rating &amp; reviews column by default - can override in menu options. If you are not using reviews you can hide them here and in the book details. See also the separate setting for the individual film display"
			default="2"
			showon="show_revs:1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">Show Average Rating only</option>
			<option value="2">Show Ratings and Review Links</option>
		</field>	 
  		<field name="peoplelistnote" type="note"
			label="People List Specific Options"
			class="info"
		/>	
		<field name="show_ppiccol" type="radio"
			label="Portrait Column"
			description="Show portrait column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
	 		<field name="show_pdates"
				type="radio"
				label="Show Dates"
				description="Show sortable column for dates (born, died)."
				class="btn-group btn-group-yesno btn-small"
				default="1"
				>
				<option value="0" >JHIDE</option>
				<option value="1">JSHOW</option>
			</field>	
 
 		<field name="show_psumcol" type="radio"
			label="Summary Column"
			description="Show summary column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="showcnts" type="radio"
			label="Show counts"
			description="Show counts for books per person"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="showlists" type="list"
			label="Show item lists"
			description="Show lists of books and roles as popover on the count (more compact) or full list. Popover will be click to show, and in both cases title will be linked to item entry"
			default="1"
			showon="showcnts!:0"
			>
			<option value="0" >JHIDE</option>
			<option value="1" >Show as popover</option>
			<option value="2" >Show as list</option>
		</field>

  		<field name="charslistnote" type="note"
			label="Characters List Specific Options"
			class="info"
		/>	
		<field name="show_cpiccol" type="radio"
			label="Image Column"
			description="Show image column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	 
 		<field name="show_csumcol" type="radio"
			label="Summary Column"
			description="Show summary column by default - can override in menu options"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	 
		<field name="showccnts" type="radio"
			label="Show counts"
			description="Show counts for books for each character"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="showclists" type="list"
			label="Show item lists"
			description="Show lists of books/films and roles as popover on the count (more compact) or full list. Popover will be click to show, and in both cases title will be linked to item entry"
			default="1"
			showon="showcnts!:0"
			>
			<option value="0" >JHIDE</option>
			<option value="1" >Show as popover</option>
			<option value="2" >Show as list</option>
		</field>
			    
  		<field name="catlistnote" type="note"
			label="Category Counts View Options"
			showon="show_cats:1"
			class="info"
		/>	
  		<field name="nocatlistnote" type="note"
			label="Categories are disabled for xbFilms Component"
			showon="show_cats:0"
			class="info"
		/>	
		<field name="show_cat_desc" type="radio"
			default="1"
			label="Show Description"
			description="Show category description column"
  			class="btn-group btn-group-yesno"
			showon="show_cats:1"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>	
		<field name="show_clist_empty" type="radio"
			default="0"
			label="Show Empty Categories"
			description="Show categories which have no items"
  			class="btn-group btn-group-yesno"
			showon="show_cats:1"
			>
				<option value="0" >No</option>
				<option value="1">Yes</option>
		</field>	
		<field name="show_catspath" type="radio"
			label="Show Parents (hierarchy)"
			description="Show parents (if not level 1) as column before title in list views."
			class="btn-group btn-group-yesno"
			showon="show_cats:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
  		<field name="taglistnote" type="note"
			label="Tag Counts View Options"
			class="info"
			showon="show_tags:1"
		/>	
  		<field name="notaglistnote" type="note"
			label="Tags are disabled for xbFilms Component"
			showon="show_tags:0"
			class="info"
		/>	
		<field name="show_tlist_desc" type="radio"
			default="1"
			label="Show Description"
			description="Show description column"
  			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			>
				<option value="0" >No</option>
				<option value="1">Yes</option>
		</field>	
		<field name="show_tagspath" type="radio"
			label="Show Parents (hierarchy)"
			description="Show parents (if not level 1) as column before title in list view."
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
 	</fieldset>
 	
<!-- ITEM LAYOUTS TAB -->	 	
 	<fieldset name="itemlayouts"
		label="Item Layouts"
		description="Options for item views." 
		>
 		<field name="hide_empty" type="radio"
			default="0"
			label="Hide empty fields"
			description="Hide empty fields or show labels for them. Showing empty fields will make the display consistent between items, but wastes space if you are not using some fields"
 			class="btn-group btn-group-yesno"
			>
				<option value="0" >JSHOW</option>
				<option value="1">JHIDE</option>
		</field>	
		
  		<field name="booknote" type="note"
			label="Book View Options"
			description="These settings apply to the individual book view"
			class="info"
		/>	
 		<field name="show_bimage" type="list"
			label="Show Image"
			description="Show image, and in which position"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">Show to left of title</option>
			<option value="2">Show to right of title</option>
		</field>	
 		<field name="show_brevs" type="list"
			label="Show Ratings/Reviews"
			description="Show rating &amp; reviews. Show rating only will make review details inaccessible from this page."
			default="1"
			showon="show_revs:1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">Rating only</option>
			<option value="2">Summary</option>
			<option value="3">Full Reviews</option>
		</field>	

  		<field name="revnote" type="note"
			label="Review View Options"
			description="These settings apply to the individual review view"
			class="info"
			showon="show_revs:1"
		/>	
 		<field name="show_rimage" type="list"
			label="Show Image"
			description="Show image, and in which position"
			default="1"
			showon="show_revs:1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">Show to left of title</option>
			<option value="2">Show to right of title</option>
		</field>	
  		<field name="personcharnote" type="note"
			label="Person &amp; Character View Options"
			description="Options for indivdual people and character views are set in the xbPeople Component options"
			class="info"
		/>		
 
  		<field name="categorynote" type="note"
			label="Category View Options"
			description="Options for the Category view which lists all the items in a category."
			class="info"
			showon="show_cats:1"
		/>			
  		<field name="nocatnote" type="note"
			label="Categories are disabled for xbFilms Component"
			showon="show_cats:0"
			class="info"
		/>	
		<field name="show_catdesc" type="radio" 
	        label="Show Description"
	        description="Show category description under the name"
			class="btn-group btn-group-yesno"
			default="1"
			showon="show_cats:1"
	    	>
	        	<option value="0">JNO</option>
	        	<option value="1">JYES</option>
		</field>       
		<field name="show_catpath" type="radio"
			label="Show Parents (hierarchy)"
			description="Show parents (if not level 1) before title."
			class="btn-group btn-group-yesno"
			showon="show_cats:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

  		<field name="tagnote" type="note"
			label="Tag View Options"
			description="Options for the Category view which lists all the items in a category."
			class="info"
			showon="show_tags:1"
		/>			
  		<field name="notagnote" type="note"
			label="Tags are disabled for xbFilms Component"
			showon="show_cats:0"
			class="info"
		/>	
		<field name="show_tagdesc" type="radio" 
	        label="Show Description"
	        description="Show tag description under the name and above the lists,"
			class="btn-group btn-group-yesno"
			default="1"
			showon="show_tags:1"
	    	>
	        	<option value="0">JNO</option>
	        	<option value="1">JYES</option>
		</field>       
		<field name="show_tagpath" type="radio"
			label="Show Parents (hierarchy)"
			description="Show parents (if not level 1) as column before title in list view."
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="1"
			>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

	</fieldset>

<!-- STYLES TAB -->				
	<fieldset name="styles" 
		label="XBCULTURE_CONFIG_STYLING_LABEL" 
		description="XBCULTURE_CONFIG_STYLING_DESC"
		>	
		
   		<field name="cssnote" type="note"
			label="XBCULTURE_CONFIG_MODIFY_CSS_NOTE_LABEL"
			description="XBCULTURE_CONFIG_MODIFY_CSS_NOTE_DESC"
			class="info"
		/>	
		<field name="use_xbcss" type="radio"
			label="XBCULTURE_CONFIG_USE_XBCSS_LABEL"
			description="XBCULTURE_CONFIG_USE_XBCSS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
			>
			<option value="1" >JYES</option>
			<option value="0">Specify File</option>
			<option value="2">Use Template</option>
		</field>
		<field name="css_file" type="text" 
			label="XBCULTURE_CONFIG_MOD_CSS_LABEL" 
			description="XBCULTURE_CONFIG_MOD_CSS_DESC" 
			default="/media/com_xbpeople/css/xbculture.css" 
			size="150" showon="use_xbcss:0"
		/>	
   		<field name="cssnote2" type="note"
			description="XBCULTURE_CONFIG_CSS_NOTE2_DESC"
			 showon="use_xbcss:0"
			class="info"
		/>	
   		<field name="cssnote3" type="note"
			description="XBCULTURE_CONFIG_CSS_NOTE3_DESC"
			 showon="use_xbcss:2"
			class="info"
		/>	
		<field name="popcolour" type="color"
			label="XBCULTURE_CONFIG_POP_COLOUR_LABEL"
			description="XBCULTURE_CONFIG_POP_COLOUR_DESC" 
			default="#822000"
		/>
		<field name="extlinksnote" type="note"
			label="XBCULTURE_CONFIG_NEWTAB_HINT_NOTE_LABEL"
			description="XBCULTURE_CONFIG_NEWTAB_HINT_NOTE_DESC"
		/>
		<field name="ext_icon" type="radio"
			label="XBCULTURE_CONFIG_NEWTAB_ICON_LABEL"
			description="XBCULTURE_CONFIG_NEWTAB_ICON_DESC"
			default="0"
			class="btn-group btn-group-yesno btn-small"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="extlinksnote2" type="note"
			description="XBCULTURE_CONFIG_NEWTAB_HINT_NOTE2_DESC"
		/>
		
	</fieldset>
       
<!-- META TAB -->
	<fieldset name="meta"
		label="Metadata"
		description="These options only affect the metadata for xbbooks pages. If they are left blank the defaults from System|Global Configuration|Site will be used."
		>
		<field name="metanote1"
  type="note"
			description="Default values/options specified below are only used when a new item is first saved. Once there is data in the metadata fields then that will be used. The individual 'Show' options below are used when the page is displayed whether or not data is present."
			class="alert"
		/>

		<field name="show_rights"
			type="radio"
			default="0"
			label="Show Meta.rights"
			description="If no default is set below, or no value is entered for the item then the global system configurtion default will be used."
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="def_rights" 
			type="text" 
			default="Creative Commons Attribution Non-Commercial Share-alike" 
			label="Default Content Rights" 
			description="Text to be copied to metadata Content Rights for item if left blank when saved. If both the item rights and this option are blank then the global setting will be used." 
			size="150" showon="show_rights:1"
		/>	
		<field name="show_desc"
			type="radio"
			default="0"
			label="Show Meta.description"
			description="If Yes and no value is entered for the item then the global system configurtion default will be used."
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="summary_metadesc"
			type="radio"
			default="0"
			label="Summary to Description"
			description="Copy item summary to item metadata description if left blank when saved."
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_author"
			type="radio"
			default="0"
			label="Show Meta.author"
			description="For review pages the reviewer name will be used, for book &amp; people pages the created_by_alias will be used if set, if not the default below will be used. List pages will use the default below."
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="def_author" 
			type="text" 
			default="" 
			label="Default Author" 
			description="Used for list views and single book/people pages if created_by_alias is blank." 
			size="150" 
		/>	
			
		<field name="metanote2"
  type="note"
			description="NB the Keywords metatag is pretty much deprecated now and you probably don't want to bother with this next option unless you have a particular reason."
			class="alert"
		/>
		<field name="show_keywords"
			type="radio"
			default="0"
			label="Show Meta.keywords"
			description="If you are using meta keywords you have the option below to copy tags to the keywords when the item is created"
 			class="btn-group btn-group-yesno"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="tags_keywords"
			type="radio"
			default="0"
			label="Tags to Keywords"
			description="Copy tags for item to metadata keywords. NB this only works when there is nothing already in the Keyword field"
 			class="btn-group btn-group-yesno"
 			showon="show_keywords:1"
			>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
		<field name="metanote3"
  type="note"
			description="Joomla inserts a default 'generator' metatag [Joomla! - Open Source Content Management] on all pages. You can change it here for xbBooks pages only. To change it globally use a separate extension."
			class="alert"
		/>
		<field name="show_generator"
			type="list"
			default="0"
			label="Show Meta.generator"
			description=""
		>
			<option value="0" >JHIDE</option>
			<option value="1">Use xbBooks value below</option>
			<option value="2">Use system default</option>
		</field>
		
		<field name="def_generator" 
			type="text" 
			default="xbBooks component for Joomla" 
			label="Meta.generator" 
			description="Leave blank to remove the generator tag." 
			size="100" showon="show_generator:1"
		/>	
		
	</fieldset>

<!-- PERMISSIONS TAB -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" 
			label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbbooks" 
			filter="rules" validate="rules" section="component" />
	</fieldset>


</config>
